<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise</title>
  </head>
  <body>
    <h1>
      Hello its <% if(currentDay < "5"){%> It's a weekday, it's time to work
      hard <%}else{%> It's weekend, it's time to have fun <%}%>
    </h1>
  </body>
</html>
